/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

@media only screen and (max-width: 1100px) {
  header .top-main-menu .button-location {
    position: relative; }
  header .menu-center-wrapper,
  header .right--location {
    display: none; }
  header .navi-hamburger {
    position: relative;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 40;
    border-radius: 5px;
    float: right;
    height: 38px;
    width: 40px;
    cursor: pointer;
    padding: 8px;
    background-color: transparent; }
    header .navi-hamburger.open span {
      left: -3px;
      width: 28px; }
      header .navi-hamburger.open span.top {
        top: -1px; }
      header .navi-hamburger.open span.bottom {
        top: 1px; }
    header .navi-hamburger.open span:first-child {
      -webkit-transform: rotate(45deg) translate(8.4px, 7.4px);
      -ms-transform: rotate(45deg) translate(8.4px, 7.4px);
      transform: rotate(45deg) translate(8.4px, 7.4px); }
    header .navi-hamburger.open span:nth-child(2) {
      width: 0;
      opacity: 0; }
    header .navi-hamburger.open span:last-child {
      -webkit-transform: rotate(-45deg) translate(7.4px, -6.4px);
      -ms-transform: rotate(-45deg) translate(7.4px, -6.4px);
      transform: rotate(-45deg) translate(7.4px, -6.4px); }
    header .navi-hamburger span {
      position: relative;
      display: block;
      top: 1px;
      height: 3px;
      width: 100%;
      border-radius: 6px;
      -webkit-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
      background-color: #2A3036; }
  .nav-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    z-index: 1500;
    width: 100%;
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
    left: -100%;
    background-color: #fff;
    -webkit-transition-property: left;
    -o-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    overflow: auto; }
    .nav-mobile.open {
      left: 0; }
    .nav-mobile #collapse ul {
      margin: 0;
      padding: 0; }
      .nav-mobile #collapse ul li > ul {
        display: none; }
      .nav-mobile #collapse ul li.first-item-menu.open .link i.fa-chevron-right {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out; }
      .nav-mobile #collapse ul .link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px 20px;
        border-bottom: 1px solid #F0F0F0;
        cursor: pointer;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .nav-mobile #collapse ul .link:hover {
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          background-color: #f5f5f5; }
        .nav-mobile #collapse ul .link span, .nav-mobile #collapse ul .link a {
          font-family: "AdelleSansBold", sans-serif;
          font-weight: 700;
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          font-size: 14px;
          line-height: 16px;
          color: #969799; }
        .nav-mobile #collapse ul .link i.fa-chevron-right {
          transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out;
          font-size: 15px; }
      .nav-mobile #collapse ul .retreat {
        padding: 25px; }
        .nav-mobile #collapse ul .retreat:hover {
          background-color: #fff; }
      .nav-mobile #collapse ul ul.submenu li {
        padding: 0; }
        .nav-mobile #collapse ul ul.submenu li a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          padding: 20px 40px;
          border-bottom: 1px solid #F0F0F0;
          background-color: #f5f5f5;
          font-size: 15px;
          line-height: 16px;
          color: #969799; }
    .nav-mobile .admittance {
      margin-top: 4rem; }
      .nav-mobile .admittance ul {
        margin: 0;
        padding: 0; }
        .nav-mobile .admittance ul li {
          list-style-type: none; }
          .nav-mobile .admittance ul li a {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 20px 40px;
            font-family: "AdelleSansBold", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            color: #969799;
            background-color: #f1f5f8;
            border-top: 1px solid #fff; }
            .nav-mobile .admittance ul li a.orange {
              color: #fff;
              background-color: #FA9000; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main-info .tiles .tiles-item.little {
    margin-bottom: 30px; }
  .main-info .text-info h1 {
    font-size: 6.3rem; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 800px) {
  .main-info {
    margin-top: 100px; }
    .main-info::before {
      top: -98px; }
    .main-info .logo {
      padding-top: 40px; }
      .main-info .logo::before {
        top: -130px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px; }
  .main-info .tiles {
    margin-top: 40px; }
    .main-info .tiles .tiles-item .body-item .content {
      padding: 20px; }
  .main-info .text-info p {
    text-align: center;
    font-size: 1.5rem; }
  section.about p {
    font-size: 21px; }
  section.validation h2 .color-text {
    display: inline-block; }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 680px) {
  html {
    font-size: 10px; } }

@media only screen and (max-width: 600px) {
  .main-info .text-info h1 {
    font-size: 5.7rem; }
  footer .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .footer-menu .link-menu {
      margin-bottom: 40px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .main-info::before {
    top: -65px; }
  .main-info .logo {
    padding-top: 55px; }
    .main-info .logo::before {
      top: -120px; }
  .main-info .tiles {
    padding-bottom: 30px; }
    .main-info .tiles .tiles-item .body-item .content h2 {
      font-size: 2.8rem; }
  .main-info .text-info h1 {
    font-size: 3.6rem; }
  .main-info .text-info p {
    font-size: 1.4rem; }
  ul.submenu li {
    margin-bottom: 5px; }
    ul.submenu li a {
      font-size: 18px; }
  section.about p {
    font-size: 18px; }
  section.validation p {
    font-size: 17px; }
  form#form,
  form#form .form-wrapper {
    width: 100%; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 768px) {
  .main-info .text-info h1 {
    font-size: 6.3rem; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1100px) {
  .nav-mobile {
    display: none !important; } }

@media only screen and (min-width: 1200px) {
  /**/ }

@media only screen and (min-width: 1400px) {
  .main-info::before,
  .main-info::after {
    background-size: cover; } }
